
img,video{
    border-radius: 4px;
    padding: 20px;
    width: 600px;
    height: 270px;
    object-fit: scale-down;
    background-color: #CAC3B8;
}

img{
    cursor : zoom-in;

}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSlider{
    width: 50px;
    height: 50px;
}

#fullsize{
    border-radius: 4px;
    z-index: 1000;
    display: none;
    top: 16%;
    left: 16%;
    width: 65%;
    height: 65%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #CAC3B8;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); 
}

#fullsize>img{
    width: 50%;
    height: 100%;
    border: 0;
    cursor: initial;
    background-color: transparent;
}

#quit>img{
    width: 35px;
    height: 35px;
    border: none;
    cursor: initial;
    padding: 5px;
    background-color: transparent;
}

#quit{
    position: absolute;
    top: 0%;
    right: 0%;
    background: none;
    border: none;
}

#quit:hover {
    background-color: red;
}

.buttonPrev{
    margin-right: 10px;
}

.buttonNext{
    margin-left: 10px;
}

.buttonPrev,.buttonNext{
    border-radius: 100%;
    border: none;
    background-color: #839A9B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
}

.buttonPrev:hover,.buttonNext:hover{
    transform: scale(1.2);
    background-color: #6B8996;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); 
}
